@import "tailwindcss";

@keyframes bounceX {
  0%, 100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(10px);
  }
}

.animate-bounceX {
  animation: bounceX 1s ease-in-out infinite;
}
